
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create A BIll</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Create A Bill
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">

  <ion-item>
    <ion-input label="Name" placeholder="Enter Name" [(ngModel)] ="newBill.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Description" placeholder="Enter Bill Description"  [(ngModel)] ="newBill.description" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Price" placeholder="Enter Bill Price" [(ngModel)] ="newBill.price" ></ion-input>
  </ion-item>

  <ion-button color="tertiary" (click)="createNew()">Confirm</ion-button>

</div>

</ion-content>