

<ion-content class="background-image">


  <div class="content-wrapper">

  <ion-item>
    <ion-input label="Name" placeholder="Enter Name" [(ngModel)] ="newBill.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Description" placeholder="Enter Bill Description"  [(ngModel)] ="newBill.description" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Price" placeholder="Enter Bill Cost" [(ngModel)] ="newBill.price" ></ion-input>
  </ion-item>

  <ion-button color="tertiary" (click)="createNew()">Confirm</ion-button>

  </div>
</ion-content>