
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Name" placeholder="Enter Email" [(ngModel)] ="newBill.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Description" placeholder="Enter Password"  [(ngModel)] ="newBill.description" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Price" placeholder="Enter Email" [(ngModel)] ="newBill.price" ></ion-input>
  </ion-item>

  <ion-button color="tertiary" (click)="createNew()">Confirm</ion-button>

</ion-content>