
<!-- <hr>
<h3>Edit Bill</h3>
<hr>
<form (ngSubmit) = "editBill()">
  <label>Name </label>
  <Input type="text" name="name" [(ngModel)] = "updateBill.name">
  <br>
  <label>Description </label>
  <Input type="text" name="description" [(ngModel)] = "updateBill.description">
  <br>
  <label>Price </label>
  <Input type="text" name="price" [(ngModel)] = "updateBill.price">
  <br>
<ion-button 
  type="submit">EDIT
</ion-button>
</form> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bill-Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Name" placeholder="Enter Email" [(ngModel)] ="updateBill.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Description" placeholder="Enter Password"  [(ngModel)] ="updateBill.description" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Price" placeholder="Enter Email" [(ngModel)] ="updateBill.price" ></ion-input>
  </ion-item>

  <ion-button color="tertiary" (click)="editBill()">Confirm</ion-button>

</ion-content>