
<ion-content [fullscreen]="true" class="backing">

<ion-card>
  <ion-card-content>
    <ion-img
    src="assets/1.png" style="width:15%"
    ></ion-img>
    <ion-text color="light">
      <h2><i>FairShare</i></h2>
    </ion-text>
    <ion-item color="rgb(51, 36, 46, 0.8)">
      <ion-input placeholder="Enter First Name" [(ngModel)] ="newUser.firstName" ></ion-input>
    </ion-item>

    <ion-item color="rgb(51, 36, 46, 0.8)">
      <ion-input placeholder="Enter Last Name" [(ngModel)] ="newUser.lastName" ></ion-input>
   </ion-item>

   <ion-item color="rgb(51, 36, 46, 0.8)">
      <ion-input placeholder="Enter Email" [(ngModel)] ="newUser.email" ></ion-input>
   </ion-item>

    <ion-item color="rgb(51, 36, 46, 0.8)">
      <ion-input placeholder="Enter Password"  [(ngModel)] ="newUser.password" ></ion-input>
   </ion-item>

   <div style="display: flex; justify-content: center;">
    <ion-button class="signupbutton" (click)="signUp()">Sign Up</ion-button>

  
    <ion-button class="loginbutton" (click)="navigateToSignIn()">Login</ion-button>
  </div>
  </ion-card-content>
</ion-card>
</ion-content>
