<!-- <ion-tabs>
<nav role="navigation">
  <a routerLink="/signup" title="Sign Up">Sign Up</a>
  <span> | </span>
  <a routerLink="/signin" title="Sign In">Sign In</a>
  <span> | </span>
  <a routerLink="/coffee" title="BIll">Bill</a>
  <hr>
</nav>

<ion-router-outlet id="main"></ion-router-outlet>
<ion-router-outlet></ion-router-outlet>
</ion-tabs> -->



<ion-tabs>
  <ion-tab-bar slot="top">
  
    <ion-tab-button tab="bill-create">
      <ion-icon name="bill-create"></ion-icon>
      Bill Create
    </ion-tab-button>
    <ion-tab-button tab="bill-list">
      <ion-icon name="bill-list"></ion-icon>
      Bill List
    </ion-tab-button>
    <ion-tab-button tab="bill-detail">
      <ion-icon name="bill-detail"></ion-icon>
      Bill Detail
    </ion-tab-button>
    <ion-tab-button tab="bill-edit">
      <ion-icon name="bill-edit"></ion-icon>
      Bill Edit
    </ion-tab-button>
  </ion-tab-bar>


  <a routerLink="/bill" title="Bill">Bill</a>

  <ion-router-outlet id="main"></ion-router-outlet>
    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>