<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List of Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">bill-list</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>List of Bills</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngFor = "let bill of listofBills">
  <p>{{bill.billid}}. 
    <a routerLink= "/bill-list/{{bill.billid}}">
      {{bill.name}} {{bill.description}} {{bill.price}}
    </a></p>

    <ion-button 
    onclick = "deleteBill(bill.billid)">Delete Bill
  </ion-button>

</div>