<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="profile-header">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://scx2.b-cdn.net/gfx/news/hires/2021/cat-1.jpg" />
    </ion-avatar>
    <h1> {{userName}} </h1>
    <p></p>
  </div>

  <ion-segment class="custom-segment">
    
    <ion-segment-button class="custom-segment" routerLink="/profile/bill-list">
      Bill List
    </ion-segment-button>
    
    <ion-segment-button class="custom-segment" routerLink="/profile/bill-create">
      Create Bill
    </ion-segment-button>

    <ion-segment-button class="custom-segment" routerLink="/profile/friends">
      Friends
    </ion-segment-button>

  </ion-segment>
  <router-outlet></router-outlet>
</ion-content>