<ion-header>
  <ion-toolbar>
    <ion-title> {{ fullName }}</ion-title>
    <input type="file" accept="image/*" (change)="onFile($event)" />
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
  
     
     

      
   
    <ion-avatar slot="start">
      <img [src]="img" alt="Profile Picture" />
     
    </ion-avatar>
    <h1>{{ fullName }}</h1>
  </div>

  <ion-segment class="custom-segment">
    <ion-segment-button class="custom-segment" routerLink="/profile/bill-list">
      Bill List
    </ion-segment-button>

    <ion-segment-button class="custom-segment" routerLink="/profile/bill-create"
      >Create Bill</ion-segment-button
    >

    <ion-segment-button class="custom-segment" routerLink="/profile/friends">
      Friends
    </ion-segment-button>
  </ion-segment>
  <ion-button (click)="logout()">Logout</ion-button>
  <router-outlet></router-outlet>
</ion-content>

